body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.todo-section,
.done-section {
  width: 45%;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

h2 {
  text-align: center;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #DAC0A3;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #0F2C59;

}

button:hover {
  border-color: #706233;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.todo-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.done-container {
  display: flex;
  flex-direction: column;
  text-align: center;

}